

body {
  background-color: hsla(41, 100%, 90%);
}

/*Navigation*/
hr {/*Navigation Line*/
  opacity: 0.5;
  position: absolute;
  top: 90px;
  width: 100%;
  height: 1px;
  background-color:#777;
}

.navbar-style {
  background-color: hsla(41, 100%, 98);
}

nav li:hover, nav li a:hover {
  background-color: #640E27;
  color: #FFF!important;
}

/*Footer*/
footer {
  background: hsla(0, 100%, 15%);
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-text {
  color: hsla(41, 100%, 98%);
}




/*Screen size definitions - 1100px*/
@media screen and (max-width: 1200px){
  nav li {
    text-align: right;
  }
}