/*Master CSS*/

/*Fonts*/
/*heder text and decorative*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
/*body text*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*Fonts end*/

footer{
    background: hsl(0, 100%, 15%);
}

body{

    background-color: hsl(43, 93%, 94%);
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family:'Noto Serif', serif;
    color: hsl(0, 100%, 15%);
}

h2 {
  font-family:'Noto Serif', serif;
  color: hsl(0, 100%, 15%);
}

h3 {
  font-family:'Noto Serif', serif;
  color: hsl(0, 100%, 15%);
}

h4 {
  font-family:'Noto Serif', serif;
  color: hsl(0, 100%, 15%);
}

.news-item {
  font-size: 1.5em;
  font-weight: 200;
}

.store_images {
  padding-bottom: 15px;
  padding-top: 15px;
}

.servicesheader {
  text-align: center;
}

.joinpics {
  padding-top: 15px;
  padding-bottom: 15px;
}

.store_text {
  margin-bottom: 20px;
}

.facebookfix {
  overflow: auto;
  text-align: center;
}

.textcenter {
  text-align: center;
}

.eventsgroup {
  padding-bottom: 10px;
  padding-left: 15px;
}

.containeralign {
    text-align: center;
}

.categories {
   display: inline-block;
   margin: 30px;
}


.alert{
    background: hsl(0, 79%, 32%);
    color: hsl(41, 100%, 98%);
}


.footer-text{
    color:hsl(41, 100%, 98%);
    font-size: 0.9em;
    font-family:'Noto Serif', serif;
}

.copyright-text{
    color:hsl(0, 0%, 37%);
    font-size: 0.7em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.navbar-style{
    background-color: hsl(43, 93%, 94%);
    border-bottom: 2px solid;
    border-color: hsl(0, 98%, 23%);
    font-family:'Noto Serif', serif;
}

.dropdown-toggle {
    padding-left: 10px;
    padding-right: 10px;
}

.img-circle {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

.img-circle-2 {
    float: right;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
}

a {
    color: hsl(0, 100%, 30%)
}

.nav-link {
  margin-right: 5px;
  margin-bottom: 5px;
}

.navigation-logo {
  width: 400px;
}

@media screen and (max-width: 720px) {
  .navigation-logo {
    width: 300px;
  }  
}

a.two:link {color:#ff0000;}
a.two:visited {color:#7a0000;}
a.two:hover {font-size:120%;}

hr.dashed {
    border-top: 3px solid hsl(42, 38%, 85%);
}

/*Please add your CSS after this line*/

/*Figure custom padding and borders
 - add figure class to parent div and
 centered-row to row div*/
.figure {
    background-color: #C0C0C0;
    padding: 25px;
}

.figure img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding-top: 10px;
}

/*Add paragraph-text class to larger bodies of text*/
.paragraph-text {
    text-indent: 50px;
    font-family: 'PT Sans', sans-serif;
}

.card img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
